.base {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
}

.loading {
  animation: loading-spin infinite 2000ms linear;
  height: 100px;
  pointer-events: none;
}

.header {
  font-size: calc(8px + 2vmin);
  color: white;
}

.title {
  font-size: calc(22px + 2vmin);
  margin: calc(6px + 2vmin) 0;
}

.welcomeText,
.noResults,
.loadingHeading {
  font-size: calc(14px + 2vmin);
  margin: calc(6px + 2vmin) 0;
}

.resultsMessage {
  font-weight: 400;
  overflow-wrap: break-word;
}

.query {
  font-weight: 700;
}

.input {
  background-color: transparent;
  border: 1px solid white;
  appearance: none;
  padding: calc(10px + 2vmin);
  margin: calc(10px + 2vmin) 0;
  font-size: calc(14px + 2vmin);
  color: white;
  min-width: calc(400px + 2vmin);
  max-width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #49515f;
}

.venue {

}

.venueName {
  font-size: calc(14px + 2vmin);
  margin-bottom: calc(1px + 2vmin);
}

.venueAddress {
  margin-bottom: calc(1px + 2vmin);
}

.venueCategory {
  color: #7F858F;
}

.link {
  color: #61dafb;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
